body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background-color: rgb(165, 127, 127);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  section {
    display: -webkit-flex;
    display: flex;
  }

  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgb(255, 223, 223);
    padding: 20px;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f8f0f0;
    padding: 10px;}
    button {background-color: rgb(235, 212, 183);}